.row{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 200px;
    background-color: red;
   
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 100px;
    border: 1px solid black;
    background-color: #e9e9e9;
    cursor: pointer;
}
.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #e9e9e9;
}