.row{
    display: flex;
    justify-content: center;
    width: 60%;
    height: 200px;
   
   
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 100px;
    border: 1px solid black;
    background-color: #e9e9e9;
    cursor: pointer;
    img{
        width: 200px;
        height: 200px;
    
    }
}
.board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("https://i.pinimg.com/564x/18/a4/65/18a465e3390622efc1f18b413b5a58d7.jpg");
    background-repeat: none;
}