
  .container {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(https://i.pinimg.com/564x/56/41/12/5641127c10a282b9b29e5f3678a77f95.jpg);
    background-size: cover;
    
  }
  h1 {
    margin: top 0;
    font-size: 2.5em;
    color:whitesmoke;
  }
  .tic, .tac, .toe {
    display: inline-block;
    opacity: 0;
    position: relative;
  }
  .tic {
    animation: ticMove 2s forwards;
  }
  .tac {
    animation: tacMove 2s forwards;
  }
  .toe {
    animation: toeMove 2s forwards;
  }
  @keyframes ticMove {
    0% {
      left: -100px;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
  @keyframes tacMove {
    0% {
      right: -800px;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
  @keyframes toeMove {
    0% {
      top: 100px;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
   button:hover{
    cursor: pointer;
    background-color: brown;
    width: 100px;
  }

  @media (max-width: 768px) {
    .container {
      height: 100vh;
      text-align: center;
      background-image: url(https://i.pinimg.com/564x/56/41/12/5641127c10a282b9b29e5f3678a77f95.jpg);
      background-size: center;
    }
    h1 {
      margin: top 0;
      font-size: 2.5em;
      color:whitesmoke;
    }
    .tic, .tac, .toe {
      display: inline-block;
      opacity: 0;
      position: relative;
    }
    .tic {
      animation: ticMove 2s forwards;
    }
    .tac {
      animation: tacMove 2s forwards;
    }
    .toe {
      animation: toeMove 2s forwards;
    }
    @keyframes ticMove {
      0% {
        left: -100px;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        left: 0;
        opacity: 1;
      }
    }
    @keyframes tacMove {
      0% {
        right: -800px;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        right: 0;
        opacity: 1;
      }
    }
    @keyframes toeMove {
      0% {
        top: 100px;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }
     button:hover{
      cursor: pointer;
      background-color: brown;
      width: 100px;
    }
  }

  @media (max-width: 576px) {
    .container {
      height: 100vh;
      text-align: center;
      background-image: url(https://i.pinimg.com/564x/56/41/12/5641127c10a282b9b29e5f3678a77f95.jpg);
      background-size: cover;
    }
    h1 {
      margin: top 0;
      font-size: 2.5em;
      color:whitesmoke;
    }
    .tic, .tac, .toe {
      display: inline-block;
      opacity: 0;
      position: relative;
    }
    .tic {
      animation: ticMove 2s forwards;
    }
    .tac {
      animation: tacMove 2s forwards;
    }
    .toe {
      animation: toeMove 2s forwards;
    }
    @keyframes ticMove {
      0% {
        left: -100px;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        left: 0;
        opacity: 1;
      }
    }
    @keyframes tacMove {
      0% {
        right: -800px;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        right: 0;
        opacity: 1;
      }
    }
    @keyframes toeMove {
      0% {
        top: 100px;
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }
     button:hover{
      cursor: pointer;
      background-color: brown;
      width: 100px;
    }
  }
